<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - HeyReach</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- {#    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">#} -->
</head>

<body>
    <div class="login-container" id="first_div">    
        <h2>Log in</h2>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {% if error %}
            <p style="color: red;">{{ error }}</p>
            {% endif %}
            <div class="form-group" id="second_div">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                <div class="text-danger">
                <small id="emailError" class="text-danger"></small>
                </div>
            </div>

            <div class="password-wrapper" id="third_div">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                <div class="text-danger">
                <small id="passwordError" class="text-danger"></small>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Get Started</button>
            <p>Don't have an account yet? <a href="{% url 'signup' %} ">Sign Up</a></p>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>